/* Custom Color Palette */
$theme-color:  #595959;
$text-color: #222222;
$text-color-secondary: #404040;
$text-grey: #737373;
$divider: #EEEEEE;
$lighter-grey: #F5F5F5;
$darker-grey: #333333;
$smoky-white: #FAFAFA;
$heart: #D4705F;